
@import url('https://fonts.googleapis.com/css?family=Orbitron|Saira+Stencil+One&display=swap');

*{
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: 'Saira Stencil One', cursive;
  color: #fff;
}

#error{
  position: relative;
}

.errormessage{
  background-color: red;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:1;
  text-align: center;
  font-size: 2rem;
  font-family: "Helvetica";
}

h1{
  text-align: center;
}

body{

  position: relative;
  background-color: #36373d;
  /* height: 100%;
  width: 99%; */
}

main{
  /* margin: 0 auto; */
  margin-left: 10px;
  margin-right: 10px;
  max-width: 800px;
  margin: 0 auto;
  /* height: 92vh; */
}

#historybutton{
  background-color: #cfae3a;
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


.calculatorContainer{
  position: relative;
}

.CalculatorGrid{
  /* display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px; */

}

.displays{
  display: flex;
  flex-direction: column;
  /* border: black solid 1px; */
  /* position: relative; */
}

#opsvalue{
  /* display: flex;
  flex-direction: column;
    margin: 0 auto;
    /* width: 100%; */
  /* border: black solid 1px; */
  text-align: center;
  /* transition: 0.5s */
}

#calculationval{
text-align: right;
}

#screenvalue{
  text-align: right;
}


.historyContainer{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  z-index: 1;
  transition: 0.5s;
  background-color: #292828;
  overflow-x:hidden;
}

.show{
  height: 90%;
  /* border: 1px white solid */
}

.hide{
  height: 0%;
  /* border: 1px red solid; */
}

.showhistorycontent{
  display: block;
  font-size: 0.8rem;

}

.hidehistorycontent{
  display: none;
}

#historyinputs{
  grid-column: 1;
  /* border: 1px solid white; */

}

#historyresults{
    /* border: 1px solid white; */
    grid-column: 2;


}

.clearbutton{
  position: absolute;
  top: 2%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  font-size: 1rem;
  border-radius: 5%;
}


input{
  height: 100%;
  overflow: auto;
  width: 100%;
  border-style: none;
  background-color: #3f3f3f;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.4rem;
  position: relative;
}

input::placeholder{
  text-align: left;
}

button{
  border-style: none;
  color: #fff;
}

button:hover, button:active {
  opacity: 0.7;
}

.clearReset{
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1rem;
  margin-right: 1rem;

  /* justify-content: flex-end; */
}

.numbers{
  /* grid-row: 3; */
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 5px auto 5px auto;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}


.operators{
  display: flex;
  margin-top: 3px;
}

.extraoperators{
  display: flex;

}

.resetclear{
  width: 20%;
  height: 3rem;
  background-color: #4c4c63;
  margin-left: 5px;
  margin: 0 auto;

}

.ops, .extraops{
  width: 100%;
  height: 2.8rem;
  background-color: #636363;
  margin-left: 1px;
}

.number{
  width: 100%;
  height: 3rem;
  background-color: #292828;
  font-family: 'Orbitron', sans-serif;

}

/* ALIGNING 0 button in the middle of numbers pad */
.number:nth-child(10){
  grid-column: 2;
  grid-row: 4;
}


.decimal-delete{
  background-color: #292828;
}

/* CHANGING COLOR OF BACK/DEL button  */
.decimal-delete:nth-child(12){
  background-color: #8a1127;
}


.equaldiv{
  display: flex;
}

.equalsign{
  width: 100%;
  height: 3rem;
  background-color: #4c634c;
}
